label {
  margin-top: 20px; /* Adjust top margin as needed */
  margin-bottom: 0px; /* Adjust bottom margin as needed */
}

.base {
  background-color: #b7eeff;
}

.accent {
  background-color: #f55449;
}

.lg {
  background-color: grey;
}

.txt {
  font-family: "Gill Sans", sans-serif !important;
  color: #424242;
  font-size: 18px;
}

.white-txt {
  color: white;
}

.lg-txt {
  color: grey;
}

.bold {
  font-weight: bold;
}

.highlight {
  background-color: yellow; /* Change this to the desired highlight color */
  font-weight: bold; /* Make the highlighted text bold */
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

.subtitle {
  font-size: 24px;
}

.square-crop {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
  aspect-ratio: 1/1;
}

.input-field {
  margin-bottom: 10px;
}

.error-msg {
  color: #f55449;
  margin-left: 10px;
}

.form {
  padding-left: 50px;
  padding-bottom: 30px;
}

.btn-margin {
  margin: 50px;
  padding: 20px;
}

.info-card {
  border-style: solid;
  border-width: 2px;
  border-color: #f55449;
  border-radius: 5px;
  padding: 10px;
}

/* Additional CSS for the card index */
.card {
  position: relative;
}

.card-img-top {
  position: relative;
}

.card-index {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 3px;
}

.card-text {
  margin: 0;
}

.bottom-border {
  border-bottom: 1px solid #424242; /* Black border with 1px thickness */
}

.comp-results {
  border-style: solid;
  border-width: 1px;
  border-color: #424242;
}

.pd {
  padding-right: 50px;
}

#home-image {
  width: 100%;
  height: auto;
}

#intro {
  padding: 80px;
}

#intro-txt {
  padding-left: 100px;
  padding-right: 100px;
}

#skater-name {
  padding-top: 10px;
  padding-bottom: 10px;
}

#add-btn {
  margin-left: 10px;
}
