{% extends "layout.html" %} {% block content %}
<div class="title txt">Edit information for {{ skater.name }}</div>
<div class="txt" id="success-message"></div>
<div class="txt">
  <div class="row input-field">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{ skater.name }}" />
    <div id="name-error" class="error-msg"></div>
  </div>
  <div class="row input-field">
    <label for="image">Image URL:</label>
    <input type="text" id="image" name="image" value="{{ skater.image }}" />
    <div id="image-error" class="error-msg"></div>
  </div>
  <div class="row input-field">
    <label for="country">Country:</label>
    <input
      type="text"
      id="country"
      name="country"
      value="{{ skater.country }}"
    />
    <div id="country-error" class="error-msg"></div>
  </div>
  <div class="row input-field">
    <label for="discipline">Discipline:</label>
    <input
      type="text"
      id="discipline"
      name="discipline"
      value="{{ skater.discipline }}"
    />
    <div id="discipline-error" class="error-msg"></div>
  </div>
  <div class="row input-field">
    <label for="coach">Coach:</label>
    <input type="text" id="coach" name="coach" value="{{ skater.coach }}" />
    <div id="coach-error" class="error-msg"></div>
  </div>
  <div class="row input-field">
    <label for="began_skating">Began Skating:</label>
    <input
      type="number"
      id="began_skating"
      name="began_skating"
      value="{{ skater.began_skating }}"
    />
    <div id="began-skating-error" class="error-msg"></div>
  </div>
  <div class="row input-field">
    <label for="age">Age:</label>
    <input type="number" id="age" name="age" value="{{ skater.age }}" />
    <div id="age-error" class="error-msg"></div>
  </div>
  <div class="row input-field">
    <label> Birthday:</label>
    <select id="birthday-month" class="form-select">
      <option value="{{ birth_month }}" selected>{{ birth_month }}</option>
      <option value="January">January</option>
      <option value="February">February</option>
      <option value="March">March</option>
      <option value="April">April</option>
      <option value="May">May</option>
      <option value="June">June</option>
      <option value="July">July</option>
      <option value="August">August</option>
      <option value="September">September</option>
      <option value="October">October</option>
      <option value="November">November</option>
      <option value="December">December</option>
    </select>
    <input
      type="number"
      id="birthday-day"
      class="form-control col-md-1"
      placeholder="Day"
      value="{{ birth_day }}"
    />
    <input
      type="number"
      id="birthday-year"
      class="form-control col-md-1"
      placeholder="Year"
      value="{{ birth_year }}"
    />
    <div id="birthday-error" class="error-msg"></div>
  </div>

  <div class="row input-field">
    <label for="birthplace">Birthplace:</label>
    <input
      type="text"
      id="birthplace"
      name="birthplace"
      value="{{ skater.birthplace }}"
    />
    <div id="birthplace-error" class="error-msg"></div>
  </div>
  <button class="btn accent white-txt" id="edit-btn">Submit</button>
  <button class="btn lg white-txt" id="discard-btn">Discard changes</button>
</div>

<script>
  var id = {{skater.id|tojson}}
  console.log(id)
</script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'add.js') }}"
></script>
{% endblock %}
