{% extends "layout.html" %} {% block content %}
<div class="row">
  <!-- Intro section -->
  <div class="col-md-4 intro">
    <div>
      <img
        src="https://myhero.com/images/guest/g269201/hero94738/YuNaKim.jpg
              "
        alt="Homepage image of Yuna Kim doing a spin"
        id="home-image"
      />
    </div>
    <div class="title txt">
      Welcome to<br />
      Skater Search!
    </div>
    <div class="txt">
      Here, you can search for skaters using their name, country, or discipline
      to see their competition history. If you want to quickly check up on how
      your favorite figure skaters have been performing, you've come to the
      right place!
    </div>
  </div>
  <!-- Skaters section -->
  <div class="col-md-8 skaters">
    <div class="title txt">Top Skaters by Medal Count</div>
    <div class="row">
      {% for skater_id, skater_info in data.items() %}
      <div class="col-md-4 mb-4">
        <a href="/view/{{ skater_id }}" class="card-link">
          <div class="card h-100">
            <img
              src="{{ skater_info['image'] }}"
              alt="{{ skater_info['name'] }}"
              class="card-img-top"
            />
            <div class="card-body">
              <h5 class="card-title txt">{{ skater_info['name'] }}</h5>
              <p class="card-text txt lg-txt">
                {{ skater_info['country'] }}<br />{{ skater_info['discipline']
                }}
              </p>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
